# dirs
.vscode/
results/

# files
*.o
*.class

main
pagerank
pagerank_check
msa_pagerank
pagerank_parallel
msa_pagerank_parallel
_oldMantissaSegmentationTester.hpp
_olderbackupMantissaSegmentation.hpp.BAK
tests